In [1]:
import time

from src.mmsbm import MMSBM
from tests.test_mmsbm import mock_data

In [2]:
data = mock_data(1, 10000)

In [3]:
mmsbm = MMSBM(3, 2, seed=1)

In [4]:
# time fitting
start_time = time.time()
mmsbm.fit(data)
print(f"--- {time.time() - start_time} seconds ---")

2024-11-17 10:26:44,548 INFO Running 1 runs of 400 iterations.

--- 1.154407024383545 seconds ---

In [5]:
pred_matrix = mmsbm.predict(data)

In [6]:
results = mmsbm.score()

INFO:MMSBM:The final accuracy is 0.26, the one off accuracy is 0.569 and the MAE is 0.783.

In [9]:
results["objects"]["theta"]

              0         1         2
user0  0.141102  0.525741  0.333157
user1  0.235401  0.022382  0.742217
user2  0.530561  0.352666  0.116773
user3  0.118828  0.659936  0.221236
user4  0.856264  0.016379  0.127357

In [10]:
results["objects"]["eta"]

              0         1
item0  0.245837  0.754163
item1  0.735376  0.264624
item2  0.372228  0.627772
item3  0.163602  0.836398
item4  0.018591  0.981409
item5  0.830409  0.169591
item6  0.759667  0.240333
item7  0.685834  0.314166
item8  0.034417  0.965583
item9  0.421670  0.578330

In [13]:
results["objects"]["pr"]["1"]

          0         1
0  0.002794  0.376871
1  0.152942  0.214888
2  0.426385  0.041261